* {
    padding: 0;
    margin: 0;
}

#bird {
    width: 50px;
    height: 30px;
    background-color: green;
}

article.main {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section.main {
    display:flex;
    align-items: center;
    justify-content: center;
}
